@font-face {
    font-family: Fancy;
    src: url('LuxuriousScript-Regular.ttf');
}



* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #d0f5ff;
}

.wrapper {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh stretch 10vh;
    justify-items: stretch;
}





/*Content*/
#content {
    display: grid;
    background-color: #f0fbff;
    padding: 2em;
    text-align: center;
    position: relative;
    text-align: center;

}

#content>h3 {
    font-family: "Fancy";
    color: #003255;
    font-size: 6em;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#content>img {

    width: 100%;
    height: 70vh;

    border-radius: 20px;
}




/* header */
header>nav {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 0.5em;
    padding-top: 1em;

}

nav {
    background-color: #f0fbff;
}

header>nav>button {
    font-family: FontAwesome;
    width: 6em;
    background-color: #f0fbff;
    border: none;
    font-size: 1.3em;
    display: inline-block;
    position: relative;
    cursor: pointer;
}


header>nav>button::after {
    cursor: pointer;
}

header>nav>button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #80bbe7;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header>nav>button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}





/*Footer*/
#footer {

    bottom: 0;
    width: 100vw;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #a5a4a4;
    background-color: #f0fbff;
    text-align: center;

}

#footer>a {
    color: #a5a4a4;
}